/* Variables */

// Base color
$blue: #324157;
$light-blue: #3a71a8;
$panGreen: #30b08f;
$lightGray: #eee;
$darkGray: #889aa4;
$white: #fff;

$title-color: #182433;

// Input
$input-text-title-color: #5b6777;
$input-text-bg: #e8ebef;
$input-text-color: #243343;

$price-color: #c5cbd3;

// Button
$button-bg: #1776f4;
$icon-button-bg: #e8ebef;
// btn-icon-color
$btn-icon-color: #374151;

// Calender
$c-title-color: #1675f0;
